body{
    background-color: black;
}

h1{
    color: white;
}

#container{
    height: 500px;
    width: 800px;
    margin: auto;
    text-align: center;
}

.bulb-off{
    width: 500px;
    height: 700px;
    background: url('lightbulb-off.png') no-repeat;
    margin: auto;
}

.bulb-on{
    width: 500px;
    height: 700px;
    background: url('lightbulb-on.png') no-repeat;
    margin: auto;  
}

